.navigation {
  &__checkbox {
    display: none;
  }

  &__checkbox:checked ~ &__bg {
    transform: scale(80);
  }
  &__checkbox:checked ~ &__box {
    width: 100%;
    opacity: 1;
    visibility:visible;
  }

  &__button {
    cursor: pointer;
    text-align: center;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: $color-white;
    box-shadow: 0rem 2rem 2rem rgba($color-black, 0.2);
    position: fixed;
    top: 8.5rem;
    right: 8.5rem;
    z-index: 3000;
  }

  &__bg {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: radial-gradient($color-primary-light, $color-primary-dark);
    position: fixed;
    top: 9rem;
    right: 9rem;
    z-index: 2000;
    transition: all 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  }

  &__box {
    height: 100vh;
    width: 20%;
    // background: red;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2500;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    z-index: 2001;
  }

  &__item {
    display: block;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__link {
    padding: 1rem 2rem;
    text-transform: uppercase;
    color: $color-white;
    font-size: 4rem;
    font-weight: 300;
    text-decoration: none;
    background: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      $color-white 50%
    );
    background-size: 250%;
    transition: all 0.4s ease;
    &:hover {
      color: $color-primary;
      background-position-x: 100%;
    }
  }

  &__icon {
    position: relative;
    margin-top: 4rem;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background: $color-dark-grey;
      display: inline-block;
      transition: all 0.2s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      top: -.8rem;
    }
    &::after {
      top: .8rem;
    }
  }

  &__button:hover &__icon {
    &::before {
      top: -1rem;
    }

    &::after {
      top: 1rem;
    }
  }

  &__checkbox:checked + &__button &__icon {
    background: transparent;

    &::before {
      top: 0;
      transform: rotate(135deg);
    }
    &::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}
