.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color-black, 0.6);
  z-index: 9999999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  &:target {
    opacity: 1;
    visibility: visible;
  }
  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    line-height: 1;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  &__close-icon {
    font-size: 3rem;
    color: $color-dark-grey-3;
    text-decoration: none;
  }
  &__content {
    border-radius: 3px;
    overflow: hidden;
    width: 75%;
    background: #fff;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    display: table;
    transition: all 0.4s 0.3s;
  }

  &__content-left {
    width: 33.333333%;
    display: table-cell;
  }
  &__content-right {
    width: 66.666666%;
    display: table-cell;
    padding: 4rem;
    vertical-align: top;
  }

  &__text {
    font-size: 1.7rem;
  }

  &__img {
    display: block;
    width: 100%;
  }
}
