.story {
  height: 32rem;
  width: 75%;
  margin: 0 auto;
  padding: 6rem;
  background: rgba($color-white,.6);
  box-shadow: 2rem 2rem 2rem rgba($color-black, 0.2);
  border-radius: 3px;

  transform: skewX(-12deg);
  & > * {
    transform: skewX(12deg);
  }

  &__shape {
    width: 20rem;
    height: 20rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    margin-right: 4rem;
    position: relative;
    &--img {
      height: 100%;
      transition: all 0.5s ease-in-out;
      transform: translate(-4.5rem, 0) scale(1.4);
      backface-visibility: hidden;
    }
    &--caption {
      text-align: center;
      width: 50%;
      text-transform: uppercase;
      font-size: $default-font-size;
      color: $color-white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }
  }

  &__text {
    font-size: $default-font-size;
  }

  &:hover &__shape--img {
    transform: translate(-4.5rem, 0) scale(1);
    filter: blur(3px) brightness(80%);
  }

  &:hover &__shape--caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
